<div class="container padded">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h2>Add a new session</h2>

      <%= simple_form_for @session do |f| %>
        <div class="form-inputs">
          <%= f.input :sessionname, required: true, label: "Session", placeholder: "Fall 2005", autofocus: true %>
          <%= f.input :sessionstartdate, as: :date, label: "Session start date", required: true %>
          <%= f.input :sessionenddate, as: :date, label: "Session end date", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Add session" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
