<div class="container padded">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :invite, label: false, placeholder: "Invitation code" %>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "Email address", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <%= f.input :password, required: true, label: false, placeholder: "Password - #{@minimum_password_length} characters minimum" if @minimum_password_length %>
        </div>
        <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm your password" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
