 <div id="michigan-tests">
   <div class="row">
    <div class="col-md-2">
      <p>Session</p>
    </div>
    <div class="col-md-2">
      <p>Assignment</p>
    </div>
    <div class="col-md-1">
      <p>Speaking</p>
    </div>
    <div class="col-md-1">
      <p>Listening</p>
    </div>
    <div class="col-md-1">
      <p>Grammar</p>
    </div>
    <div class="col-md-1">
      <p>Vocabulary</p>
    </div>
    <div class="col-md-1">
      <p>Reading</p>
    </div>
  </div>
  <% @student.michiganscores.sort_by(&:assignment).reverse.each do |score| %>
  <div class="row">
    <div class="col-md-2">
      <%= score.assignment.session.sessionname %>
    </div>
    <div class="col-md-2">
     <%= score.assignment.assignmentdescription %>
   </div>
   <div class="col-md-1">
     <%= score.speakingscore %>
   </div>
   <div class="col-md-1">
    <%= score.recalibrate_listening_score %>
  </div>
  <div class="col-md-1">
    <%= score.recalibrate_grammar_score %>
  </div>
  <div class="col-md-1">
    <%= score.recalibrate_vocab_score %>
  </div>
  <div class="col-md-1">
    <%= score.recalibrate_read_score %>
  </div>
  <div class="col-md-1">
    <div class="edit-links">
      <%= link_to edit_michiganscore_path(score) do %>
      <span class="fa fa-pencil"> Edit</span>
      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>
