  <div id="sessions">
    <% @student.metaclasses.sort.reverse.each do |metaclass| %>
    <div class="row">
      <div class="col-md-2">
        <%= metaclass.session.sessionname %>
      </div>
      <div class="col-md-4">
        <%= link_to metaclass.metaclassname, metaclass_path(metaclass) %>
      </div>
      <div class="col-md-3">
        <%= metaclass.instructor.instructor %>
      </div>
      <div class="col-md-2">
        <%= metaclass.metaclassdaytime %>
      </div>
      <div class="col-md-1">
        <%= metaclass.student_metaclasses.where(student: @student).first.metaclassbeginlevel %>
      </div>
    </div>
    <% end %>
  </div>
