<div class="container padded">
  <div class="edit-links">
    <%= link_to edit_student_path(@student) do %>
    <span class="fa fa-pencil"> Edit</span>
    <% end %>
  </div>
  <%= link_to student_path(@student), method: :delete, data: { confirm: "Are you sure?" } do %>
  <span class="fa fa-trash-o"> Delete</span>
  <% end %>
  <h1><%= @student.firstname %> <%= @student.lastname %></h1>
  <% if @student.leftthecompany == false %>
  <h3><%= @student.company %></h3>
  <% else %>
  <h3><%= @student.company %> (departed)</h3>
  <% end %>
  <% if @student.division.present? %>
  <h4><%= @student.division %> Consulting</h4>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <p>Original level: <%= @student.originallevel %></p>
      <p>Current level: <%= @student.currentlevel %></p>
      <p>Placement test on: <%= @student.testscoredate.strftime('%B %e, %Y') %></p>
    </div>
    <div class="col-md-6">
      <% if @student.readingtestscore.present? %>
      <p>Listening test score: <%= @student.listeningtestscore %> / 25</p>
      <p>Grammar test score: <%= @student.grammartestscore %> / 20</p>
      <p>Vocabulary test score: <%= @student.vocabtestscore %> / 20</p>
      <p>Reading test score: <%= @student.readingtestscore %> / 15</p>
      <% end %>
    </div>
  </div>


  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#sessions" aria-controls="sessions" role="tab" data-toggle="tab">Sessions</a></li>
      <li role="presentation"><a href="#classes" aria-controls="classes" role="tab" data-toggle="tab">Classes</a></li>
      <li role="presentation"><a href="#michigan-tests" aria-controls="michigan-tests" role="tab" data-toggle="tab">Michigan tests</a></li>
      <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
  </div>

  <div class="tab-content">

    <div role="tabpanel" class="tab-panel fade in active" id="sessions"><%= render 'sessions' %>
    </div>

    <div role="tabpanel" class="tab-panel fade" id="classes"><%= render 'classes' %>
    </div>

    <div role="tabpanel" class="tab-panel fade" id="michigan-tests"><%= render 'michigan_tests' %>
    </div>

    <div role="tabpanel" class="tab-panel fade" id="notes"><%= render 'notes' %>
    </div>

  </div>

  <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.nav-tabs').tab();
    });
  </script>

</div>


