<div class="container padded">
  <div class="edit-links">
    <%= link_to edit_metaclass_path(@metaclass) do %>
    <span class="fa fa-pencil"> Edit</span>
    <% end %>
  </div>
  <%= link_to metaclass_path(@metaclass), method: :delete, data: { confirm: "Are you sure?" } do %>
  <span class="fa fa-trash-o"> Delete</span>
  <% end %>
  <h1><%= @metaclass.metaclassname %></h1>
  <div class="row">
    <div class="col-md-6">
      <p>Instructor: <%= @metaclass.instructor.instructor %></p>
      <p>Location: <%= @metaclass.metaclasslocation %></p>
    </div>
    <div class="col-md-6">
      <p>Timeslot: <%= @metaclass.metaclassdaytime %></p>
      <p>Number of hours: <%= calculate_hours(@metaclass.metaclassdaytime) %></p>
    </div>
  </div>

<div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
      <li role="presentation"><a href="#classes" aria-controls="classes" role="tab" data-toggle="tab">Classes</a></li>
      <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
  </div>

  <div class="tab-content">

    <div role="tabpanel" class="tab-panel fade in active" id="students"><%= render 'students' %>
    </div>

    <div role="tabpanel" class="tab-panel fade" id="classes"><%= render 'classes' %>
    </div>

    <div role="tabpanel" class="tab-panel fade" id="notes"><%= render 'notes' %>
    </div>

  </div>

  <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.nav-tabs').tab();
    });
  </script>

</div>
