<div class="container padded">
  <div class="edit-links">
    <%= link_to edit_metaclass_path(@metaclass) do %>
    <span class="fa fa-pencil"> Edit</span>
    <% end %>
  </div>
  <%= link_to metaclass_path(@metaclass), method: :delete, data: { confirm: "Are you sure?" } do %>
  <span class="fa fa-trash-o"> Delete</span>
  <% end %>
  <h1><%= @metaclass.metaclassname %></h1>
  <div class="row">
    <div class="col-md-6">
      <p>Instructor: <%= @metaclass.instructor.instructor %></p>
      <p>Location: <%= @metaclass.metaclasslocation %></p>
    </div>
    <div class="col-md-6">
      <p>Timeslot: <%= @metaclass.metaclassdaytime %></p>
      <p>Number of hours: <%= calculate_hours(@metaclass.metaclassdaytime) %></p>
    </div>
  </div>
  <h3>Students:</h3>
  <% @metaclass.students.each do |student| %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to student_path(student) do %>
      <p><%= student.firstname %> <%= student.lastname %></p>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to edit_student_metaclass_path(student.student_metaclasses.where(metaclass: @metaclass).first) do %>
        <% if student.student_metaclasses.where(metaclass: @metaclass).first.metaclassbeginlevel.present? %>
          <%= student.student_metaclasses.where(metaclass: @metaclass).first.metaclassbeginlevel %>
        <% else %>
          --
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to remove_student_metaclass_path(@metaclass, student) do %>
      <i class="fa fa-times"></i>
      <span>Remove</span>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= link_to new_student_metaclass_path(@metaclass) do %>
  <i class="fa fa-plus"></i>
  <span>Add a student to this metaclass</span>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h3>Notes:</h3>

      <p><%= @metaclass.metaclassnote.html_safe if @metaclass.metaclassnote.present? %></p>
    </div>
  </div>

</div>
