      <%= simple_form_for [@metaclass, @lesson] do |f| %>

      <div class="form-inputs">
        <%= f.input :classname, label: "Class name (optional)", autofocus: true %>
        <div class="fields-inline">
          <%= f.input :classdate, as: :date, required: true, label: "Date", wrapper_html: { style: "display: inline" } %>
          <%= f.input :classtime, required: true, label: "Timeslot", wrapper_html: { style: "display: inline" } %>
        </div>
        <div class="fields-inline">
          <%= f.association :instructor, collection: Instructor.order('instructor ASC'), label_method: :instructor, include_blank: false, wrapper_html: { style: "display: inline" } %>
          <%= f.input :location, required: true, label: "Location", wrapper_html: { style: "display: inline" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add class" %>
      </div>
      <% end %>
