<div class="container padded">
  <h1><%= @company %></h1>
  <h3><%= @session.sessionname %></h3>
  <div class="row">
    <div class="col-md-4 padded-sm">
      Student name
    </div>
    <div class="col-md-2 padded-sm">
      Hours attended
    </div>
    <div class="col-md-2 padded-sm">
      Total hours
    </div>
    <div class="col-md-2 padded-sm">
      Attendance
    </div>
  </div>
  <% @students.each do |student| %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to student_path(student) do %>
      <%= student.firstname %> <%= student.lastname %>
      <% end %>
    </div>
    <div class="col-md-2">
      <% hours_attended = calculate_hours_attended(student, StudentLesson.where(lesson: @lesson_ids, student: student)) %>
      <%= hours_attended %>
    </div>
    <div class="col-md-2">
      <% total_hours = calculate_total_hours(student, StudentLesson.where(lesson: @lesson_ids, student: student)) %>
      <%= total_hours %>
    </div>
    <div class="col-md-2">
    <%= number_to_percentage((hours_attended / total_hours) * 100, precision: 0) %>
    </div>
  </div>
  <% end %>
</div>


