<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
</head>

<body>
  <div class="container">
    <div class="navbar-wagon-brand">
      <%= wicked_pdf_image_tag 'logo.jpg' %>
    </div>
    <h3 style="text-align: center; padding-bottom: 20px">MICHIGAN TEST SCORES</h3>

    <p style="font-size: 13px; margin: 0px">Student: <%= @student.firstname %> <%= @student.lastname %></p>
    <p style="font-size: 13px; margin-top: 0px">Current Level: <%= @student.currentlevel %></p>

    <div class="row">
      <div class="col-xs-3" style="font-size: 13px">
      </div>
      <div class="col-xs-9" style="font-size: 13px">
        <div class="col-xs-2" style="font-size: 13px">
          <p>Speaking (/20)</p>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <p>Listening (/25)</p>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <p>Grammar (/20)</p>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <p>Vocabulary (/20)</p>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <p>Reading (/15)</p>
        </div>
      </div>
    </div>

    <% @student.michiganscores.sort_by(&:assignment).reverse.each do |score| %>
    <div class="row">
      <div class="col-xs-3" style="font-size: 13px">
        <%= score.assignment.session.sessionname %>
      </div>
      <div class="col-xs-9" style="font-size: 13px">
        <div class="col-xs-2" style="font-size: 13px">
          <%= score.speakingscore %>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <%= score.recalibrate_listening_score %>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <%= score.recalibrate_grammar_score %>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <%= score.recalibrate_vocab_score %>
        </div>
        <div class="col-xs-2" style="font-size: 13px">
          <%= score.recalibrate_read_score %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</body>
</html>
